.doc .admonitionblock .icon {
  border-radius: .5rem;
}

.doc .admonitionblock td.icon {
  width: auto;
}

i.fa[class^='icon-'],
i.fa[class*=' icon-']::before {
  content: "";
  height: 1rem;
  width: 2rem;
  margin-right: -1rem;
  margin-left: -.5rem;
}

i.fa.icon-note::before {
  background: no-repeat url("/images/note.svg");
}

i.fa.icon-tip::before {
  background: no-repeat url("/images/tip.svg");
}

i.fa.icon-important::before {
  background: no-repeat url("/images/important.svg");
}

i.fa.icon-warning::before {
  background: no-repeat url("/images/warning.svg");
}

i.fa.icon-caution::before {
  background: no-repeat url("/images/caution.svg");
}

.doc .content figure {
  text-align: left;
}

.doc .content h2,h3,h4 {
  padding-top: 1.5em;
}
.doc .quoteblock blockquote {
  border-left: 0px;
}

.doc .quoteblock {
   border-left: 5px solid var(--color-blue);
}

.doc .exampleblock > .content {
  border: 0px;
}

.doc .sidebarblock > .content > .title {
  margin-bottom: 1em;
}

:focus {
 outline: 0px;
}
