{{ define "schema-dot-org" }}
  <script type="application/ld+json">
    {
  "@context": "http://schema.org",
  "@type": "Blog",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": {{ substr .Site.Title 0 110 }},
  "url" : {{ printf "%s" .Permalink }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .Date.IsZero }}
 "dateModified": {{ .Date.Format $ISO8601 }},
  {{- end }}
  {{- /* all of the site's categories/tags, from Hugo's tpl/template_embedded.go */}}
  "keywords": {{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}
  {{- with .Site.Params.description -}}
 ,
  "description": {{- . -}}
  {{- end }}
}
  </script>
{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="columns">
      <div class="column is-9">
         <div class="columns is-multiline">
        {{ $paginator := .Paginate (where .Pages "Type" "post") }} 
        {{ range $paginator.Pages }} 
        {{ $dateFormat := default "2006-01-02" (index .Site.Params "date_format") }}
        {{ $author :=  .Site.Params.Author | default .Params.Author }} 
              <div class="column is-half card is-primary">
                {{ if .Params.Image }}
                <div class="card-image">
                  <figure class="image">
                    <img src="{{ .Params.Image }}"> 
                  </figure>
                </div>
              {{ end }}
                <span class="card-header-title is-5">
                  <a href="{{ .Permalink }}">
                  {{ if .Truncated }}
                    <i class="iconify" data-icon="carbon:text-indent-more" data-inline="true"></i>
                  {{ end }}
                  {{ .Title | markdownify }}</a>
                </span>
                  <div class="card-header-title heading">
                    <div class="tags">
                      {{ if $author }}<div class="tag" is-light>{{ $author }}</div>{{ end }}
                      <div class="tag" is-light><time>{{ .PublishDate.Format $dateFormat }}</time></div>
                    </div>
                  </div>
                  <div class="card-content">
                  {{ if .Truncated }}
                  {{ .Summary }}
                  <div>
                    <a  href="{{ .RelPermalink }}"><span class="iconify" data-icon="jam:more-horizontal-f" data-inline="false"></span></a>
                  </div>
                {{ else }}
                  <div class="doc content card-content">
                  {{ .Content }}
                  </div>
                {{ end }}

                </div>
                <div class="card-footer">
                  {{ partial "meta.html" . }}
                </div>
              </div>

        {{ end }}
         </div>
         <div class="level is-right">
        {{ partial "paginator" . }}
         </div>
        </div>

      <div class="column is-3">
        {{ partial "aside" . }}
      </div>
      </div>
  </div>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}

