@charset "utf-8";
$color-white: #fff;
$color-smoke-10: #fefefe;
$color-smoke-30: #fafafa;
$color-smoke-50: #f5f5f5;
$color-smoke-70: #f0f0f0;
$color-smoke-90: #e1e1e1;
$color-grey-10: #c1c1c1;
$color-grey-30: #8e8e8e;
$color-grey-50: #808080;
$color-grey-70: #5d5d5d;
$color-jet-20: #4a4a4a;
$color-jet-30: #424242;
$color-jet-50: #333;
$color-jet-70: #222;
$color-jet-80: #191919;
$color-black: #000;
$color-orange: #ff6f00;
$color-blue: #4285f4;
//admonitions, add their background counterparts 
$caution-color: #a0439c;
$important-color: #d32f2f;
$note-color: #217ee7;
$tip-color: #41af46;
$warning-color: #e18114;
//maybe this should rather go in the main file
$link-font-color: #1565c0;
$link_hover-font-color: #104d92;

$red: #d9534f;
