@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

// to do:  analyze antora admonitions and harmonize the bulma warnings etc; colors and naming;
//also can we eventually migrate away from --color stuff and make the asciidoc stuff rely on bulma styles?
@import "./colors.scss";
@import "./vars.scss";

$grey-darker: $color-grey-70;
$grey-dark: $color-grey-50;
$grey: $color-grey-30;
$grey-light: $color-grey-10; 
$grey-lighter: $color-smoke-90; 

//this seems to be the hero and panel background 
$white-ter: $color-smoke-70;

$orange: $color-orange;
$green: #93c54b;
$blue: $color-blue; 

$warning: $color-orange;
$warning-invert: $color-orange;

// this comes from antora vars; seems to be working but not 100% sure
$rem-base: 18;
$body-font-size: 1.0625em;
$body-size: $body-font-size;

$link: $link-font-color; 

$pagination-background-color: $color-smoke-50;
$pagination-current-background-color: $grey-light;
$pagination-active-color: $color-jet-70;

$button-color: $grey-darker;

// Fonts 
$family-monospace: "Roboto Mono", sans-serif;
$family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$family-primary: $family-sans-serif;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/panel.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/bulma.sass";
@import "./doc.scss";
@import "./extra.scss";
