<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
  {{ block "schema-dot-org" . }}{{ end }}

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/google_analytics.html" . }}

  {{- with .Site.Params.bing_verify_meta -}}
  <meta name="msvalidate.01" content="{{ . }}" />
  {{ end }}

  {{- with .Site.Params.yandex_verify_meta -}}
  <meta name="yandex-verification" content="{{ . }}" />
  {{ end }}

  {{- .Site.Hugo.Generator -}}

<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></script>

{{ $options := (dict "targetPath" "/css/style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "extra.scss" "custom.scss")) }}
{{ $style := resources.Get "main.scss" | resources.ToCSS $options }}
 <link href="{{ $style.Permalink }}" rel="stylesheet">

{{ range .Site.Params.customcss -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
</head>
{{- /* vim: set ts=2 sw=2 et: */}}

