<nav class="navbar" role="navigation" aria-label="main navigation">

  <div id="site-navbar" class="navbar-menu is-active">
    <div class="navbar-end">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main }}
        {{ $menuURL := .URL | absLangURL }}
        <a href="{{ $menuURL }}" class="navbar-item">{{ .Name }}</a>
        {{ end }}
    </div>
  </div>
</nav>


{{/* 
{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="active"{{ end }}
  */}}


