{{ define "schema-dot-org" }}
  <script type="application/ld+json">
    {
  "@context": "http://schema.org",
  "@type": "Blog",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": {{ substr .Site.Title 0 110 }},
  "url" : {{ printf "%s" .Permalink }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .Date.IsZero }}
 "dateModified": {{ .Date.Format $ISO8601 }},
  {{- end }}
  {{- /* all of the site's categories/tags, from Hugo's tpl/template_embedded.go */}}
  "keywords": {{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}
  {{- with .Site.Params.description -}}
 ,
  "description": {{- . -}}
  {{- end }}
}
  </script>
{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="columns">
      <div class="column is-9">
         <div class="container">

           {{ $paginator := .Paginate (where .Pages "Type" "notification") }} 
           {{ range $paginator.Pages }} 
             {{ $dateFormat := default "2006-01-02" (index .Site.Params "date_format") }}
             {{ $author :=  .Site.Params.Author | default .Params.Author }} 
             <div class="card {{ .Params.Color }}">
               <div class="card-header">
                 <div class="card-header-title">
                   <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                 </div>
               </div>
                 <div class="columns">
                   {{ if .Params.Image }}
                     <div class="column is-4 card-content">
                       <div class="">
                       <figure class="image">
                         <img src="{{ .Params.Image }}"> 
                       </figure>
                     </div>
                     </div>
                   {{ end }}
                   <div class="column">
                     <div class="doc content card-content">
                       {{ .Content }}
                     </div>
                   </div>
               </div>
               <div class="card-footer" style="justify-content: flex-end">
                     <div class="tags">
                   <span class="tag is-success is-light"><a href="{{ .Params.hyperlink }}" rel="tag">{{ .Params.Title }}</a></span>
                 </div>
               </div>
             </div>
           {{ end }}

         </div>
         {{ partial "paginator" . }}
      </div>

      <div class="column is-3">
        {{ partial "aside" . }}
      </div>
    </div>
  </div>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}

